@import url('https://fonts.googleapis.com/css2?family=Anaheim&family=Comfortaa&family=Jura&family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
}

h1.content-title {

  font-family: 'Roboto', sans-serif;
}

p.content {
  font-family: "Anaheim", sans-serif;
}

.others {
  font-family: "Comfortaa", cursive;
  font-family: "Jura", sans-serif;
}

.App {
  display: flex;
  width: 750px;
  margin: 0 auto;
}

.LeftPanel {
  border-left: 20px solid rgb(64, 58, 72);
  padding: 20px 20px 0px 20px;
  background-color: rgb(244,242,245);
}

.RightPanel {
  padding: 20px 20px 0px 20px;
  background-color: rgb(229,227,232);
}

.Portfolio {
  height: 200px;
}
