@import url("https://fonts.googleapis.com/css2?family=Anaheim&family=Comfortaa&family=Jura&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
}

h1.content-title {
  font-family: "Roboto", sans-serif;
}

p.content {
  font-family: "Anaheim", sans-serif;
}

.others {
  font-family: "Comfortaa", cursive;
  font-family: "Jura", sans-serif;
}

.App {
  display: flex;
  width: 750px;
  margin: 0 auto;
  justify-content: center;
}

ul {
  padding-left: 20px;
}

.Portfolio {
  height: 200px;
}
